body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
}

h3{
	text-align: left;
	margin-left: 40%; 
}

.img-medium {
    height: 200px;
}

.container{
	text-align: center;
	background: white;
	font-weight: normal;
}


